.west
.zmk/
modules
tools
zephyr
bootloader
zmk
zmk-pmw3610-driver
zmk-pointer-2s-mixer
zmk-axis-clamper
zmk-report-rate-limit
zmk-acceleration-curves
zmk-input-processor-rotate-plane
zmk-runtime-config
zmk-bistable-behavior
zmk-esb-endpoint
zmk-shell-relay-core
.vscode/

__pycache__/
*.py[cod]
