#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/adaptive_feedback.h>
#include <dt-bindings/zmk/bistable_behavior.h>
#include <dt-bindings/zmk/p2sm.h>

#ifndef LAYER_DEFAULT
#define LAYER_DEFAULT      0
#define LAYER_EXTRAS       1
#define LAYER_DEVICE       2
#define LAYER_SCROLL       3
#define LAYER_SNIPE        4
#define LAYER_USER         5
#define LAYER_STANDARD_SCROLL 6
#endif

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
			display-name = "Default";
			bindings = <
				// Original eight buttons
				&ltmkp LAYER_SNIPE LC(C)    &ltmkp LAYER_SCROLL LC(V)
				&kp DELETE                  &kp ENTER
				&mkp LCLK                   &mkp RCLK
				&mkp MCLK                   &kp LG(LS(S))

				/*
				 * Internal order:
				 * Left A, Left B, Right A, Right B, IO1, IO2, IO3
				 *
				 * Studio displays Left B before Left A because only
				 * their visual coordinates were interchanged.
				 */
				&trans                      &mo LAYER_EXTRAS
				&trans                      &trans
				&trans                      &trans
				&mo LAYER_DEVICE
			>;
		};

		layer1 {
			display-name = "Extras";
			bindings = <
				// Original eight buttons
				&trans                      &trans
				&trans                      &trans
				&trans                      &trans
				&trans                      &trans

								// Left A, Left B, Right A, Right B
				&twist_sens_up_fb           &trans
				&twist_sens_down_fb         &bt BT_NXT

				// IO1, IO2 and IO3
				&bt BT_PRV                  &ptr_sens_up_fb
				&ptr_sens_down_fb
			>;
		};

		layer2 {
			display-name = "Device";
			bindings = <
				// Original eight buttons
				&trans                      &trans
				&trans                      &trans
				&trans                      &trans
				&trans                      &trans

				// Left A, Left B, Right A, Right B
				&studio_unlock              &power_off_fb
				&scroll_mode_toggle         &clear_all_bt_fb

				// IO1, IO2 and IO3
				&clear_current_bt_fb        &trans
				&trans
			>;
		};

		layer3 {
			display-name = "Scroll";
			bindings = <
				// Original eight buttons
				&trans    &trans
				&trans    &trans
				&trans    &trans
				&trans    &trans

				// Left A, Left B, Right A, Right B
				&trans    &trans
				&trans    &trans

				// IO1, IO2 and IO3
				&trans    &trans
				&trans
			>;
		};

		layer4 {
			display-name = "Snipe";
			bindings = <
				// Original eight buttons
				&trans    &trans
				&trans    &trans
				&trans    &trans
				&trans    &trans

				// Left A, Left B, Right A, Right B
				&trans    &trans
				&trans    &trans

				// IO1, IO2 and IO3
				&trans    &trans
				&trans
			>;
		};

		layer5 {
			display-name = "User";
			bindings = <
				// Original eight buttons
				&trans    &trans
				&trans    &trans
				&trans    &trans
				&trans    &trans

				// Left A, Left B, Right A, Right B
				&trans    &trans
				&trans    &trans

				// IO1, IO2 and IO3
				&trans    &trans
				&trans
			>;
		};

		layer6 {
			display-name = "Standard Scroll";
			bindings = <
				// Original eight buttons
				&trans    &trans
				&trans    &trans
				&trans    &trans
				&trans    &trans

				// Left A, Left B, Right A, Right B
				&trans    &trans
				&trans    &trans

				// IO1, IO2 and IO3
				&trans    &trans
				&trans
			>;
		};
	};

		trackball {
		// Default mode: high-resolution twist scrolling
		input-processors = <&zip_bistable_twist_scaler>,
						   <&zip_pointer_accel>, <&zip_scroll_accel>, <&zip_rotate_pointer>,
						   <&esb_ip>, <&zip_ble_report_rate_limit>;

		// Existing drag-scroll layer takes first priority
		scroll {
			layers = <LAYER_SCROLL>;
			input-processors = <&zip_bistable_scroll_xy_scaler>, <&zip_axis_clamper>,
							   <&zip_xy_to_scroll_mapper>, <&zip_scroll_transform INPUT_TRANSFORM_Y_INVERT>,
							   <&zip_dragscroll_accel>, <&zip_rotate_scroll>,
							   <&esb_ip>, <&zip_ble_report_rate_limit>;
		};

		// Existing snipe layer takes second priority
		snipe {
			layers = <LAYER_SNIPE>;
			input-processors = <&zip_bistable_snipe_scaler>, <&zip_rotate_pointer>,
							   <&esb_ip>, <&zip_ble_report_rate_limit>;
		};

		// Toggled mode: standard full-notch twist scrolling
		standard_scroll {
			layers = <LAYER_STANDARD_SCROLL>;
			input-processors = <&zip_bistable_twist_scaler>,
							   <&zip_twist_full_notch_scaler>,
							   <&zip_pointer_accel>, <&zip_scroll_accel>, <&zip_rotate_pointer>,
							   <&esb_ip>, <&zip_ble_report_rate_limit>;
		};
	};
};