#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/ankur/actions.h>

#define LAYER_DEFAULT  0
#define LAYER_CONTROL  1
#define LAYER_DEVICE   2
#define LAYER_FEEDBACK 3
#define LAYER_STATUS   4

/ {
	ankur_modes: ankur_modes {
		compatible = "ankur,pointer-modes";
		#input-processor-cells = <0>;
		pipeline-devices = <&zip_bistable_twist_scaler>, <&zip_twist_full_notch_scaler>,
			<&zip_pointer_accel>,
			<&zip_scroll_accel>, <&zip_rotate_pointer>, <&zip_bistable_snipe_scaler>,
			<&zip_bistable_scroll_xy_scaler>, <&zip_axis_clamper>,
			<&zip_xy_to_scroll_mapper>, <&zip_scroll_transform>,
			<&zip_dragscroll_accel>, <&zip_rotate_scroll>;
	};

	keymap {
		compatible = "zmk,keymap";

		default_layer {
			display-name = "Default";
			bindings = <
				&copy_fine AK_FINE LC(C)       &paste_scroll AK_SCROLL_HELD LC(V)
				&kp DELETE                     &kp ENTER
				&mkp LCLK                      &mkp RCLK
				&mkp MCLK                      &kp LG(LS(S))
				&ankur AK_DRAG                 &ankur AK_STRING
				&none                          &mo LAYER_STATUS
				&mo LAYER_FEEDBACK             &mo LAYER_DEVICE
				&mo LAYER_CONTROL
			>;
		};

		control_layer {
			display-name = "Control";
			bindings = <
				&trans                         &trans
				&trans                         &trans
				&trans                         &trans
				&trans                         &trans
				&ankur AK_TWIST_INC            &ankur AK_TWIST_DEC
				&ankur AK_NEXT                 &ankur AK_PREV
				&ankur AK_POINTER_INC          &ankur AK_POINTER_DEC
				&trans
			>;
		};

		device_layer {
			display-name = "Device";
			bindings = <
				&trans                         &trans
				&trans                         &trans
				&trans                         &trans
				&trans                         &trans
				&ankur AK_OFF                  &ankur AK_UNLOCK
				&ankur AK_SCROLL               &ankur AK_BT_CLEAR
				&ankur AK_BT_CLEAR_ALL         &trans
				&ankur AK_SENS_RESET
			>;
		};

		feedback_layer {
			display-name = "Feedback";
			bindings = <
				&trans                         &trans
				&trans                         &trans
				&trans                         &trans
				&trans                         &trans
				&ankur AK_VIB_TOGGLE           &ankur AK_LED_TOGGLE
				&trans                         &trans
				&trans                         &trans
				&trans
			>;
		};

		status_layer {
			display-name = "Status";
			bindings = <
				&trans                         &trans
				&trans                         &trans
				&trans                         &trans
				&trans                         &trans
				&ankur AK_REPORT_TWIST         &ankur AK_REPORT_PROFILE
				&ankur AK_REPORT_POINTER       &trans
				&ankur AK_REPORT_BATTERY       &trans
				&trans
			>;
		};
	};

	trackball {
		input-processors = <&ankur_modes>, <&esb_ip>, <&zip_ble_report_rate_limit>;
	};
};
